<!DOCTYPE html>
<html>
<head>
	<title>ToDo List</title>
	<link rel="stylesheet" href="formatting.css">
</head>
<body>
	<h1>ToDo List</h1>

	<div class="list">

		<form action="/add_item" method="get">
			<input type="text" name="new_post">
			<input type="submit" name="submit" value="add task!">
		</form>

		<ul>
			<% if @list.length > 0  %>
				<% @list.each do |item| %>
					<% if item.status == true %>
						<li><%= item.content %></li>
							<form action="/done_item" method="POST">
								<input type="submit" value="&#10003">
								<input type="hidden" name="done_item" value="<%= item.id %>">
							</form>
							<form action="/delete_item" method="POST">
								<input type="submit" value="&#10007">
								<input type="hidden" name="delete_item" value="<%= item.id %>">
							</form>
					<% end %>
				<% end %>
			<% end %>
		</ul>

		<h1>Done items:</h1>
		<ul>
			<% if @list.length > 0  %>
				<% @list.each do |item| %>
					<% if item.status == false %>
						<li><%= item.content %></li>
					<% end %>
				<% end %>
			<% end %>
		</ul>

<!-- 		<form action="/save" method="POST">
			<input type="submit" value="save!!">
		</form>

		<form action="/clear" method="POST">
			<input type="submit" value="clear!">
		</form>
 -->

 <form action="/clear_session">
	<input type="submit" value="Clear Session">
</form>

	</div>

</body>
</html>