<!DOCTYPE html>
<html>
<head>
	<title>The Website for Movie Lovers</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<h1>Welcome! Please enter a keyword for your movie search:</h1>

	<form class="keyword" action="/look" method="get">
		<input class="keyword" type="text" name="keyword">
		<input class="keyword" type="submit" name="submit" value="submit">
	</form>

</body>
</html>