<!DOCTYPE html>
<html>
<head>
	<title>The Website for Movie Lovers</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<p>Welcome! Please enter a keyword for your movie search:</p>

	<form action="/look" method="get">
		<input type="text" name="keyword">
		<input type="submit" name="submit" value="submit">
	</form>

</body>
</html>