<!DOCTYPE html>
<html>
<head>
	<title>The Website for Movie Lovers</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<h1>These are 9 movies for your keyword: "<%= @keyword %>"</h1>

	<div class="poster-container">
		<% @url_array.each do |url| %>
			<img class ="poster" src="<%= url %>">
		<% end %>
	</div>
</body>
</html>