<!DOCTYPE html>
<html>
<head>
	<title>The Website for Movie Lovers</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	yoyoyoyoyo

	<% @url_array.each do |url| %>
		<img src="<%= url %>">
	<% end %>
</body>
</html>