<h1> Hello world!</h1>

<% if (true) %>
	<p>
		The if statement was true
	</p>
<% else %>
	<p>
		The if statement was false
	</p>
<% end %>


My name:
<form action="/say_name" method ="POST">
		<input type="text" name="name">
</form>