<html>

<head>
	<link rel="stylesheet" type="text/css" href="formatting.css">
</head>

<body>

	<% unless @num_words == nil %>
		<p> The number of words is <%= @num_words %></p>
	<% end %>

	<form action ="/count_words" method="post" enctype="multipart/form-data">
		<p>
			<label for="file">File:</label>
			<input type="file" name="my_file">
		</p>

		<p>
			<input name="commit" type="submit" value="Upload" />
		</p>
	</form>

</body>

</html>