h1 {
	text-align: center;
	color: blue;
	font-size: 36px;
}

.list {
	width: 30%;
	margin: 0 auto;
	text-align: center;
	color: blue;
	font-size: 26px;
	border: 2px;
	border-color: blue;
}

ul {
  list-style-type: none;
	display: inline-block;
}

li {
}

.login-form {
	width: 25%;
	margin: 0 auto;
	display: block;
	text-align: center;
	color: blue;
}