<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="index_style.css">
</head>
<body>

	<h1>Second Sinatra Exercise</h1>
	<div class="picture">
		<img src="sinatra.gif" alt="">
	</div>

	<div class="text">
		<p class="phrase">
			<% unless @random_phrase == nil %>
				<%= @random_phrase %>
			<% else %>
				Please add a phrase.
			<% end %>
		</p>
	</div>

	<div class="button-container">
		<a href="/" class="button">Refresh</a>
	</div>

	<div class="form-container">
		<p>Add a new phrase:</p>
		<form action="/add" method ="GET">
			<input type="text" name="new_phrase">
		</form>
	</div>

	<div class="show-phrases">
		<a href="/showall">Show phrases</a>
		<ul>
			<% unless @list == nil %>
				<% @list.each do |phrase| %>
					<li><%=  phrase %></li>
						<form action="/delete" method="POST">
							<input type="submit" value="X">
							<input type="hidden" name="delete_phrase" value="<%= phrase %>">
						</form>
				<% end %>
			<% end %>
		</ul>
	</div>

</body>
</html>