<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="formatting.css">
</head>
<body>
	<div class="login-form">
  <h1>Hello! Please enter your data:</h1>

		<form action="/login" method="get">

			<input type="text" name="username">
			<input type="password" name="password">
			<input type="submit" name="submit" value="login">
		</form>

	</div>
</body>
</html>